.homeContainer {
  height: 100vh;
  width: 100vw;
  background-color: #f0eff4;
  /* position: fixed; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
}
.createForm {
  height: 7vh;
  background-color: #fff;
  margin-top: 2vh;
  padding: 2vh;
  display: flex;
  align-items: center;
}
.formImg {
  height: 7vh;
  width: 7vh;
}
.createFormText {
  margin-left: 4vw;
  font-size: 1.1em;
  color: #ff8434;
  flex: 1;
}
.nextImg {
  height: 4vw;
  width: 4vw;
}
.formList {
  flex: 1;
  overflow: scroll;
  margin-top: 1.5vh;
  background-color: #fff;
  border-top: 2px solid #e9e9e9;
  padding-left: 4vw;
}
.formItem {
  padding: 2vh 2vh 2vh 0;
  height: 7vh;
  border-bottom: 2px solid #e9e9e9;
  display: flex;
  align-items: center;
}
.formItemText {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 4vw;

}
.formName {
  font-size: 1.1em;
  font-weight: 500;
}
.dataQuantity {
  font-size: 0.5em;
  color: #a5a4a4;
}

