.createFormContainer {
  height: 100vh;
  width: 100vw;
  background-color: #f0eff4;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
}
.inputContainer {
  margin-top: 2vh;
}
.titleInput {
  width: 96%;
  padding: 2vh;
  border: none;
}
.describeTextarea {
  width: 96%;
  padding: 2vh;
  border: none;
}
.blank{
  flex: 1;
}
.createBtnContent {
  height: 8vh;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e3e3e3;
}
.saveImg {
  height: 4vh;
  width: 4vh;
  margin-right: 1vw;
}
.createBtn2 {
  font-size: 3vh;
  color: #ababab;
}