.editElementContainer {
  height: 100vh;
  width: 100vw;
  background-color: #f0eff4;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.functionArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.btnStyle {
  background-color: #ffc400;
  width: 60vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3vw;
  margin: 3vh;
  letter-spacing: 4px;
  font-size: 4vw;
}
.elementList {
  flex-basis: 50%;
  overflow: scroll;
  margin-top: 2vh;
  padding-left: 2vh;
  background-color: #fff;

}
.elementTitle {
  padding: 2vh 0;
  border-bottom: 2px solid #e3e3e3;
}
.connectFormContainer {
  margin-top: 2vw;
  background-color: #fff;
  padding-left: 2vh;
  height: 17vh;
}
.addElementBtnContent {
  padding: 1vh 2vh;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: 2vh;
}
.addImg {
  height: 5vh;
  width: 5vh;
  margin-right: 2vh;
}
.connectFormTitle {
  padding: 2vh;
  border-bottom: 2px solid #e3e3e3;
  margin-bottom: 2vh;
}
.isRepeatedContent {
  margin-top: 2vh;
  padding: 2vh;
  background-color: #fff;
}
.isRepeatedText {
margin-right: 34vw;
}
.blank{
  flex: 1;
}
.saveBtnContent {
  height: 8vh;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e3e3e3;
}
.saveImg {
  height: 4vh;
  width: 4vh;
  margin-right: 1vw;
}
.saveBtnText {
  font-size: 3vh;
  color: #fd843e;
}
.noElement {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  
}