.submitBtn {
  background-color: #ffc400;
  width: 60vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3vw;
  margin: 3vh;
  letter-spacing: 4px;
  font-size: 4vw;
}
.submitBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}