
.submitBtn {
  background-color: #ffc400;
  width: 60vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3vw;
  margin: 3vh;
  letter-spacing: 4px;
  font-size: 4vw;
}
.deleteImg {
  height: 4vh;
  width: 4vh;
  margin-right: 2vh;
}
.addImg {
  height: 5vh;
  width: 5vh;
  margin-right: 1vh;
}
.choiceContainer {
  display: flex;
  padding: 2vh 0;
  border-bottom: 1px solid #e3e3e3;
}
.choiceBoxContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;

}
.blank{
  flex: 1;
  background-color: #f0eff4;
}
.choiceBox {
  padding: 2vh;
  flex: 1;
}
.choiceBoxTitle {
  height: 9vw;
  border-bottom: 1px solid #e3e3e3;
}
.choiceInput {
  border: none;
  outline:none
}
.addBtnContent {
  padding-top: 2vh;
  display: flex;
  align-items: center;
}
.choiceFatherContainer {
  height: 28vh;
  overflow: scroll; 
}
.footerBtnContent {
  display: flex;
  align-items: center;
  height: 7vh;
  background-color: #fff;
}
.deleteElement {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #e3e3e3;
  color: #f04141;
}
.saveElement {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fd843e;
}
.footerBtn {
  height: 3vh;
  width: 3vh;
  margin-right: 1vh;
}
.textFooterBtnContent {
  height: 100%;
  display: flex;
  flex-direction: column;
}